@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Great Vibes";
  src: url("../src/assets/fonts/GreatVibes-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "alarm clock";
  src: url("../src/assets/fonts/alarmClock.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Open 24 Display St";
  src: url("../src/assets/fonts/Open-24-Display-St.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}




@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 0.5 
  }
  to {
    opacity: 1;
  }
}

@layer utilities {
  .animate-fade-in {
    animation: fadeIn 1s ease-in-out forwards;
  }
  .delay-2 {
    animation-delay: 0.5s;
  }
}

.custom-dropdown {
  border: none;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  margin-left: 120px;
}

